* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.game-menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-menu__title {
    font-size: 40px;
    margin-bottom: 10px;
}

.style-button {
    padding: 10px 15px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.style-button:hover {
    color: white;
    background-color: burlywood;
    border: 1px solid burlywood;
    cursor: pointer;
}

.square {
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
}

.square img {
    width: 100%;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 660px;
}

.mole {
    background: url(./mole.svg) no-repeat center;
    background-size: contain;
}






select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
}
select::-ms-expand {
    display: none;
}
.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    width: 250px;
    height: 45px;
    border: 1px solid #777777;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin-bottom: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select select, .select::after {
    grid-area: select;
}
.select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: #777777;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}
select[multiple] {
    padding-right: 0;
   /* * Safari will not reveal an option * unless the select height has room to * show all of it * Firefox and Chrome allow showing * a partial option */
    height: 6rem;
}
select[multiple] option {
    white-space: normal;
    outline-color: var(--select-focus);
}
.select--disabled {
    cursor: not-allowed;
    background-color: #eee;
    background-image: linear-gradient(to top, #ddd, #eee 33%);
}
label {
    font-size: 1.125rem;
    font-weight: 500;
}
.select + label {
    margin-top: 2rem;
}


.game-content {
    display: none;
    justify-content: space-around;
    padding: 10px 10px;
}

.game-content__score, .game-content__time {
    display: flex;
}

.game-content__score #score, .game-content__time #time-left {
    margin-left: 10px;
}



.game-record__table {
    width: 250px;
    height: 300px;
    overflow-y: auto;
}

.game-record {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(87, 1, 1);
}

.game-record:last-child {
    border-bottom: none;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
    padding: 30px 0;
}

.modal__wrap {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.modal__window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    position: relative;
    margin: 50px 0;
    flex-shrink: 0;
    flex-grow: 0;
    background: #fff;
    width: 600px;
    height: 400px;
    overflow: visible;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transform: scale(0.9);
    opacity: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

.modal__input {
    width: 300px;
    height: 45px;
    padding: 0px 5px;
    font-size: 30px;
}

.modal__close {
    position: absolute;
    top: 5%;
    right: 5%;
}

.modal__close:hover {
    cursor: pointer;
}

.modal__title {
    text-align: center;
}